<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="stylesheets/style.css">

 <script type="text/javascript" src="javascripts/phaser.min.js"></script>	
 <script src="javascripts/boot.js"></script>
 <script src="javascripts/preload.js"></script>
 <script src="javascripts/main.js"></script>
<script src="javascripts/death.js"></script>
 <script src="javascripts/script.js"></script>